# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
.idea/
# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/
.idea/
.ipynb_checkpoints/
foo.json
foo.sh
enter_container.sh
stack/enter_stack.sh
stack/run*.sh
extract-biomarkers/docker_run_*.sh

# report files
reports/rmarkdown/*.html
landing_pages/rmarkdown/*.html
